.board {
  width: calc((4rem + 2px) * 13);
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 4rem;
  width: 4rem;
  border: 1px solid black;
  background-color: rgba(0, 47, 255, 0.555);
  display: flex;
}

.sprite {
  max-width: 4rem;
  max-height: 4rem;
  align-items: center;
}

.highlight {
  background-color: rgb(255, 255, 0);
}

.boat {
  background-color: rgba(43, 255, 0, 0.74);
}

.hit {
  background-color: rgba(255, 0, 0, 0.712);
}

.sunk {
  background-color: rgba(255, 0, 242, 0.712);
}

.miss {
  background-color: rgb(70, 70, 70);
}
